.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/*.button:hover {
  transition: 0.5s;
  background-color: #7070db;
}

.button:active,
.buttonandroid:active {
  transition: none;
  background-color: #7070db;
}*/
