.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 54px;
}

.text {
  color: rgba(128, 128, 152, 1);
  font-family: OpenRundeMedium;
  font-size: 16px;
  text-align: center;
  max-width: 320px;
}
