@font-face {
  font-family: OpenRundeSemibold;
  font-weight: 900;
  src: url("/fonts/OpenRunde-Semibold.woff2");
}

@font-face {
  font-family: OpenRundeRegular;
  font-weight: 900;
  src: url("/fonts/OpenRunde-Regular.woff2");
}

@font-face {
  font-family: OpenRundeMedium;
  font-weight: 900;
  src: url("/fonts/OpenRunde-Medium.woff2");
}
